# FRONTEND (Expo)
frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/npm-debug.*
frontend/yarn-error.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision
frontend/.env

# BACKEND (Java + Maven)
backend/target/
backend/.idea/
backend/*.iml
backend/*.class
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/*.log

# Global
.DS_Store
Thumbs.db